* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --main-color: #2563eb;
  --white-color: #dbeafe;
  --box-shadow-main: 0 4px 6px -1px rgb(0 0 0 / 0.1),
    0 2px 4px -2px rgb(0 0 0 / 0.1);
}
header {
  position: relative;
  margin-bottom: 40vh;
}
.tilt-container {
  min-height: 20rem;
  position: relative;
}
.extra {
  min-height: 15rem;
  background-color: var(--main-color);
}
.tilt {
  position: absolute;
  bottom: 0;
  min-height: 10rem;
  width: 100%;
  background-color: var(--main-color);
  transform: skewY(-6deg);
}
.header-container {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* border: 1px solid black; */
  /* background-color: white; */
  width: 80%;
  /* height: 100%; */
}
.tiger-title {
  color: white;
  position: absolute;
  top: 3%;
  right: 30%;
}
.about-me {
  margin-top: 12px;
  margin-bottom: 12px;
}
p {
  font-size: 18px;
}
.tiger {
  float: left;
  max-height: 200px;
  object-fit: cover;
}
.img-container {
  margin-right: 1rem;
  margin-bottom: 1rem;
  display: block;
  float: left;
  /* border: 1px solid black; */
  /* height: 240px;
  width: 240px; */
}
.info-container {
  background-color: white;
  margin-top: 4rem;
  margin-left: 4rem;
  /* margin-bottom: 4rem; */
  padding-right: 2rem;
  padding-bottom: 4rem;
  /* border: 1px solid black; */
  box-shadow: var(--box-shadow-main);
}
.header-logo {
  position: absolute;
  bottom: 0;
  right: 0;
  /* border: 1px solid black; */
  min-height: 4rem;
  width: 16rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logo {
  height: 2rem;
  width: 2rem;
}
@media (min-width: 1000px) {
  .tiger-title {
    text-shadow: 2px 2px black;
    top: 80%;
    right: 64%;
  }
  .tiger {
    max-height: 400px;
  }
  .header-logo {
    bottom: 12%;
  }
}
@media (max-width: 500px) {
  .tiger-title {
    text-shadow: 2px 2px black;
    position: absolute;
    top: 20%;
    right: 30%;
  }
  .tiger {
    width: 100%;
  }
  .img-container {
    float: none;
    margin: 0;
  }
  .info-container {
    margin: 0;
    padding-left: 2rem;
  }
}

main {
  /* border: 1px solid black; */
  min-height: 100vh;
  padding-bottom: 4rem;
}
.my-work {
  margin: 2rem 2rem;
}
.my-work-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-around;
}
.project-container {
  /* border: 1px solid black; */
  box-shadow: var(--box-shadow-main);
  width: 25rem;
}
.project-img {
  width: 100%;
  object-fit: cover;
}
.project-name {
  font-size: 22px;
}
.project-info-container {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}
.project-info {
  padding: 1rem;
}
footer {
  background-color: var(--main-color);
  color: var(--white-color);
  /* border: 1px solid black; */
  min-height: 80vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.footer-left {
  /* border: 1px solid black; */
  height: 25rem;
  width: 30rem;
}
.contact-me {
  font-size: 28px;
}
.contact-container {
  margin: 1rem;
}
.contact-item {
  margin: 1rem;
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  align-items: center;
}
.contact-img {
  height: 2rem;
  width: 2rem;
}
.contact-social {
  margin: 1rem;
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  align-items: center;
}
.footer-right {
  width: 30rem;
}
.footer-tiger {
  object-fit: cover;
  width: 100%;
}
